source_up

if has load_env; then
  load_env credentials/skyworkz/k8s-training-aws AWS_ACCESS_KEY AWS_SECRET_KEY AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY
  export AWS_DEFAULT_REGION=eu-west-1
fi

if [[ -r ./terraform/kubeconfig_skyworkz-k8s-training-RktmQKS9 ]]; then
  export KUBECONFIG="${PWD}/terraform/kubeconfig_skyworkz-k8s-training-RktmQKS9"
fi
